openapi: 3.1.0
info:
  title: Data Gateway API
  version: 1.0.0
  description: API REST para administrar fuentes de datos, mappings y ejecutar consultas híbridas sin protocolo MCP.
servers:
  - url: https://data.whaapy.com
    description: Production API
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
  schemas:
    NormalizedFilter:
      type: object
      required: [field, op, value]
      properties:
        field:
          type: string
        op:
          type: string
          enum: [eq, neq, gt, gte, lt, lte, in, contains, containsAny, containsAll]
        value:
          oneOf:
            - type: string
            - type: number
            - type: boolean
            - type: array
              items:
                oneOf:
                  - type: string
                  - type: number
                  - type: boolean
    QueryPreference:
      allOf:
        - $ref: '#/components/schemas/NormalizedFilter'
        - type: object
          properties:
            boost:
              type: number
              minimum: 0
              maximum: 1
    QueryResponse:
      type: object
      required: [results, applied_filters, query_type, confidence, sources_used, warnings]
      properties:
        results:
          type: array
          items:
            type: object
        applied_filters:
          type: array
          items:
            $ref: '#/components/schemas/NormalizedFilter'
        applied_preferences:
          type: array
          items:
            $ref: '#/components/schemas/QueryPreference'
        query_type:
          type: string
          enum: [filter_only, lexical, hybrid_search]
        confidence:
          type: number
        sources_used:
          type: array
          items:
            type: string
            format: uuid
        warnings:
          type: array
          items:
            type: string
    QueryCapabilityValue:
      type: object
      required: [value, count]
      properties:
        value:
          oneOf:
            - type: string
            - type: number
            - type: boolean
        displayValue:
          type: string
        count:
          type: integer
          minimum: 0
    QueryFieldCapability:
      type: object
      required:
        [
          field,
          label,
          filterLabel,
          type,
          aliases,
          cardinality,
          operators,
          filterable,
          preferable,
          inferredBehavior,
          match,
          suggestedValues,
          suggestedValuesTruncated,
        ]
      properties:
        field:
          type: string
        label:
          type: string
        filterLabel:
          type: string
        type:
          type: string
          enum: [string, number, boolean, date, json]
        aliases:
          type: array
          items:
            type: string
        description:
          type: string
        cardinality:
          type: string
          enum: [one, many]
        operators:
          type: array
          items:
            type: string
            enum: [eq, neq, gt, gte, lt, lte, in, contains, containsAny, containsAll]
        filterable:
          type: boolean
        preferable:
          type: boolean
        inferredBehavior:
          type: string
          enum: [filter, prefer, search]
        match:
          type: string
          enum: [eq, contains, containsAny, containsAll]
        boost:
          type: number
          minimum: 0
          maximum: 1
        min:
          oneOf:
            - type: string
            - type: number
        max:
          oneOf:
            - type: string
            - type: number
        suggestedValues:
          type: array
          items:
            $ref: '#/components/schemas/QueryCapabilityValue'
        suggestedValuesTruncated:
          type: boolean
    QueryEntityCapability:
      type: object
      required: [entity, sourceIds, mappingVersion, fields]
      properties:
        entity:
          type: string
        displayName:
          type: string
        description:
          type: string
        sourceIds:
          type: array
          items:
            type: string
            format: uuid
        mappingVersion:
          type: integer
          minimum: 1
        fields:
          type: array
          items:
            $ref: '#/components/schemas/QueryFieldCapability'
    QueryCapabilitiesResponse:
      type: object
      required: [workspaceId, generatedAt, entities, warnings]
      properties:
        workspaceId:
          type: string
          format: uuid
        generatedAt:
          type: string
          format: date-time
        entities:
          type: array
          items:
            $ref: '#/components/schemas/QueryEntityCapability'
        warnings:
          type: array
          items:
            type: string
    RetrievalPolicyDocument:
      type: object
      required: [entities]
      properties:
        entities:
          type: array
          minItems: 1
          maxItems: 20
          items:
            type: object
            required: [entity]
            properties:
              entity:
                type: string
                example: variant
              synonyms:
                type: object
                required: [entries]
                properties:
                  entries:
                    type: object
                    additionalProperties:
                      type: array
                      minItems: 1
                      maxItems: 20
                      items:
                        type: string
                    example:
                      aida: [cuadrille aida, cuadrille]
                      punto de cruz: [aida, etamina]
              fields:
                type: array
                maxItems: 50
                default: []
                items:
                  type: object
                  required: [field]
                  properties:
                    field:
                      type: string
                    aliases:
                      type: array
                      maxItems: 20
                      default: []
                      items:
                        type: string
                    valueAliases:
                      type: object
                      description: Reservado para vocabulario de valores; no usar como override operativo hasta que capabilities lo publique.
                      additionalProperties:
                        type: array
                        minItems: 1
                        maxItems: 20
                        items:
                          type: string
                    implicitBehavior:
                      type: string
                      enum: [filter, prefer, search]
                    match:
                      type: string
                      description: Reservado en policies; define el operador operativo en el mapping activo.
                      enum: [eq, contains, containsAny, containsAll]
                    boost:
                      type: number
                      minimum: 0
                      maximum: 1
                  additionalProperties: false
              rrf:
                type: object
                required: [lexicalWeight, vectorWeight]
                properties:
                  lexicalWeight:
                    type: number
                    exclusiveMinimum: 0
                  vectorWeight:
                    type: number
                    exclusiveMinimum: 0
                additionalProperties: false
    RetrievalPolicy:
      type: object
      required: [id, workspaceId, sourceId, version, status, document, createdAt, updatedAt]
      properties:
        id:
          type: string
          format: uuid
        workspaceId:
          type: string
          format: uuid
        sourceId:
          type: string
          format: uuid
        version:
          type: integer
        status:
          type: string
          enum: [draft, active, archived]
        document:
          $ref: '#/components/schemas/RetrievalPolicyDocument'
        activatedAt:
          type: [string, 'null']
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
security:
  - bearerAuth: []
paths:
  /tools:
    get:
      summary: Listar Tools (Manifest)
      description: Devuelve el manifiesto de herramientas para las fuentes agent_ready. Requiere el scope `tools:read`.
      operationId: listTools
      responses:
        '200':
          description: OK

          content:
            application/json:
              schema:
                type: object
                properties:
                  tools:
                    type: array
                    items:
                      type: object
  /tools/{name}/invoke:
    post:
      summary: Invocar Herramienta
      description: Ejecuta una herramienta compilada. Requiere el scope `tools:invoke`.
      operationId: invokeTool
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                args:
                  type: object
      responses:
        '200':
          description: OK
  /query/capabilities:
    get:
      summary: Descubrir capacidades de consulta
      description: Lista campos seguros, operadores y valores sugeridos para construir filtros. No expone campos sensibles ni ocultos. Requiere `query:execute`.
      operationId: getQueryCapabilities
      parameters:
        - name: sourceId
          in: query
          required: false
          description: Limita las capacidades a una fuente del workspace.
          schema:
            type: string
            format: uuid
        - name: entity
          in: query
          required: false
          description: Limita las capacidades a una entidad pública del mapping.
          schema:
            type: string
      responses:
        '200':
          description: Capacidades filtrables y preferibles del workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCapabilitiesResponse'
        '400':
          description: Parámetros inválidos.
        '401':
          description: API key inválida o sin scope `query:execute`.
  /query:
    post:
      summary: Ejecutar consulta
      description: Ejecuta texto libre, filtros, preferencias o una consulta híbrida directamente contra el motor determinístico. Debe incluir al menos uno de `query`, `filters` o `preferences`. Requiere `query:execute`.
      operationId: executeQuery
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              anyOf:
                - required: [query]
                - required: [filters]
                - required: [preferences]
              properties:
                query:
                  type: string
                  description: Texto libre opcional cuando se envían filtros o preferencias.
                limit:
                  type: integer
                  default: 10
                entity:
                  type: string
                filters:
                  oneOf:
                    - type: object
                      additionalProperties: true
                      description: 'Filtros legacy { campo: valor }'
                    - type: array
                      items:
                        $ref: '#/components/schemas/NormalizedFilter'
                  description: Restricciones duras validadas contra capabilities. Para integraciones nuevas se recomienda el array tipado.
                preferences:
                  type: array
                  description: Boosts blandos. Priorizan sin excluir.
                  items:
                    $ref: '#/components/schemas/QueryPreference'
                sourceId:
                  type: string
                  format: uuid
                useLlmFallback:
                  type: boolean
                  default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponse'
        '400':
          description: Payload inválido o sin criterios de búsqueda.
        '401':
          description: API key inválida o sin scope `query:execute`.
        '422':
          description: Campo, operador o valor incompatible con el mapping activo.
  /sources:
    post:
      summary: Crear Fuente (Source)
      description: Conecta un nuevo origen de datos (database_url, shopify, csv).
      operationId: createSource
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum: [database_url, shopify, csv]
                name:
                  type: string
                config:
                  type: object
      responses:
        '200':
          description: OK
  /sources/{id}/retrieval-policies:
    get:
      summary: Listar políticas de retrieval
      description: Lista versiones draft, active y archived. Requiere `retrieval:read`.
      operationId: listRetrievalPolicies
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Versiones de la política
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RetrievalPolicy'
    post:
      summary: Crear draft de política de retrieval
      description: Crea una versión inmutable sin reindexar, re-embeddear ni cambiar `maturityStatus`. Requiere `retrieval:write`.
      operationId: createRetrievalPolicyDraft
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [document]
              properties:
                expectedActiveVersion:
                  type: integer
                  minimum: 0
                  description: Control de concurrencia; usa 0 si todavía no existe una activa.
                document:
                  $ref: '#/components/schemas/RetrievalPolicyDocument'
      responses:
        '201':
          description: Draft creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievalPolicy'
        '409':
          description: Conflicto de versión activa
        '400':
          description: Documento o entidad inválida
  /sources/{id}/retrieval-policies/active:
    get:
      summary: Obtener política de retrieval activa
      description: 'Devuelve `{ policy: null }` si el source todavía usa los sinónimos legacy del mapping. Requiere `retrieval:read`.'
      operationId: getActiveRetrievalPolicy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Política activa o null
  /sources/{id}/retrieval-policies/{version}/eval:
    post:
      summary: Evaluar un draft de retrieval
      description: Ejecuta el eval set específico del source contra el draft sin afectar tráfico. Requiere `retrieval:write`.
      operationId: evalRetrievalPolicy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: version
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '202':
          description: Eval encolado
          content:
            application/json:
              schema:
                type: object
                properties:
                  runId:
                    type: string
                    format: uuid
                  jobId:
                    type: [string, 'null']
                  retrievalPolicyVersion:
                    type: integer
                  status:
                    type: string
                    enum: [queued]
        '409':
          description: El source no tiene eval set específico o casos
  /sources/{id}/retrieval-policies/{version}/activate:
    post:
      summary: Activar o restaurar política de retrieval
      description: Requiere un eval aprobado para esa versión. El cambio es O(1), conserva `agent_ready` y no toca records ni embeddings. Requiere `retrieval:write`.
      operationId: activateRetrievalPolicy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: version
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                expectedActiveVersion:
                  type: integer
                  minimum: 0
      responses:
        '200':
          description: Política activa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievalPolicy'
        '409':
          description: Eval faltante/fallido o conflicto de versión
  /sources/{id}/mapping:
    post:
      summary: Subir Mapping Semántico
      operationId: uploadMapping
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                document:
                  type: object
      responses:
        '200':
          description: OK
  /sources/{id}/index:
    post:
      summary: Iniciar Indexación
      description: Dispara la regeneración del índice léxico y vectorial basado en el mapping actual.
      operationId: indexSource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
  /sources/{id}/activate:
    post:
      summary: Activar Fuente
      description: Marca la fuente como `agent_ready` si ya superó los evals.
      operationId: activateSource
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
  /evals/sets:
    get:
      summary: Listar Evaluation Sets
      description: Devuelve los sets de evaluación del workspace. Requiere el scope `evals:read`.
      operationId: listEvalSets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
    post:
      summary: Crear Evaluation Set
      description: Crea un set de evaluación global o asociado a una fuente. Requiere el scope `evals:write`.
      operationId: createEvalSet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                description:
                  type: string
                threshold:
                  type: number
                  minimum: 0
                  maximum: 1
                  default: 0.8
                sourceId:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Created
  /evals/sets/{id}:
    get:
      summary: Obtener Evaluation Set
      description: Devuelve un set de evaluación con todos sus cases. Requiere el scope `evals:read`.
      operationId: getEvalSet
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
  /evals/sets/{id}/cases:
    post:
      summary: Crear Eval Case
      description: Agrega un caso de evaluación a un set. Requiere el scope `evals:write`.
      operationId: createEvalCase
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                expectedExternalIds:
                  type: array
                  items:
                    type: string
                expectedTopIds:
                  type: array
                  items:
                    type: string
                mustRankAbove:
                  type: array
                  items:
                    type: object
                    required: [higher, lower]
                    properties:
                      higher:
                        type: string
                      lower:
                        type: string
                mustApplyFilters:
                  type: array
                  items:
                    $ref: '#/components/schemas/NormalizedFilter'
                mustApplyPreferences:
                  type: array
                  items:
                    $ref: '#/components/schemas/QueryPreference'
                mustNotContainFields:
                  type: array
                  items:
                    type: string
              anyOf:
                - required: [expectedExternalIds]
                - required: [expectedTopIds]
                - required: [mustRankAbove]
                - required: [mustApplyFilters]
                - required: [mustApplyPreferences]
                - required: [mustNotContainFields]
      responses:
        '201':
          description: Created
  /evals/sets/{id}/cases/{caseId}:
    delete:
      summary: Eliminar Eval Case
      description: Elimina un caso de evaluación mal creado antes de correr el set. Requiere el scope `evals:write`.
      operationId: deleteEvalCase
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: caseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Deleted
        '404':
          description: Eval set or eval case not found
  /evals/run:
    post:
      summary: Correr Evaluation Set
      description: Encola una corrida de evaluación. Requiere el scope `evals:write`.
      operationId: runEvalSet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - evalSetId
              properties:
                evalSetId:
                  type: string
                  format: uuid
      responses:
        '202':
          description: Queued
  /evals/runs/{id}:
    get:
      summary: Obtener Eval Run
      description: Devuelve estado, métricas y resultados de una corrida. Requiere el scope `evals:read`.
      operationId: getEvalRun
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
